<div class="container">
    <div class="col-sm-12">
        <h2 class="text-uppercase">Thêm sản phẩm mới</h2>
        <span class="pull-right">{{mess}}. Mời nhập danh mục khác</span>
        <form action="/products/add" method="POST">
            <div class="form-group">
                <label for="name">Tên sản phẩm</label>
                <input
                    type="text"
                    class="form-control"
                    name="name">
            </div>
            <div class="form-group">
                <label for="category">Danh mục</label>
                <select class="custom-select form-control" name="selectCategory">
                    {{#if listCategories}}
                    {{#each listCategories}}
                    <option>{{this.name}} - {{_id}}</option>
                    {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="form-group">
                <label for="price">Giá</label>
                <input
                    type="text"
                    class="form-control"
                    name="price">
            </div>
            <div class="form-group">
                <label for="brands">Nhà sản xuất</label>
                <select class="custom-select form-control" name="selectBrands">
                    {{#if listBrands}}
                    {{#each listBrands}}
                    <option>{{this.name}} - {{_id}}</option>
                    {{/each}}
                    {{/if}}
                </select>
                
            </div>
            <div class="form-group">
                <label for="image">Link hình ảnh</label>
                <input
                    type="text"
                    class="form-control"
                    name="image">
            </div>
            <div class="form-group">
                <label for="screen">Màn hình</label>
                <input
                    type="text"
                    class="form-control"
                    name="screen">
            </div>
            <div class="form-group">
                <label for="ram">RAM</label>
                <input
                    type="text"
                    class="form-control"
                    name="ram">
            </div>
            <div class="form-group">
                <label for="cpu">CPU</label>
                <input
                    type="text"
                    class="form-control"
                    name="cpu">
            </div>
            <div class="form-group">
                <label for="voucher">Quà tặng</label>
                <input
                    type="text"
                    class="form-control"
                    name="voucher">
            </div>
            <div class="form-group">
                <label for="disk">Disk</label>
                <input
                    type="text"
                    class="form-control"
                    name="disk">
            </div>
            <div class="form-group">
                <label for="warranty">Bảo hành</label>
                <input
                    type="text"
                    class="form-control"
                    name="warranty">
            </div>
            <div class="form-group">
                <label for="pin_battery">Pin</label>
                <input
                    type="text"
                    class="form-control"
                    name="pin_battery">
            </div>
            <div class="form-group">
                <label for="more_info">Thông tin khác</label>
                <input
                    type="text"
                    class="form-control"
                    name="more_info">
            </div>

            <button type="submit" class="btn btn-success form-control">Thêm</button>
        </form>
    </div>
</div>